.logger-info-container {
  /* border: 1px solid red; */
  height: 70vh;
  width: 15%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logger-info {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  color: #000;
  font-weight: 600;
  padding: 1rem;
  overflow-y: scroll;
}

.logger-info--account-filter p,
.logger-info--category-filter p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.logger-info--category-filter,
.logger-info--account-filter {
  text-align: center;
}
