.logger-list {
  width: 60%;
  height: 70vh;
  margin-top: 5rem;
}

.list-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.list-titles > p {
  width: 10%;
}

.list-titles .list-titles--description {
  width: 20%;
  text-align: left;
}
