.logger-list {
  width: 50%;
  height: 70vh;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  /* width: 100%; */
  width: 100%;
  max-height: 90%;
  padding: 0rem 0.5rem;
  border-radius: 0;
  display: block;
  overflow-y: scroll;
  box-shadow: none;
  /* border-top: 2px solid #25244e; */
  /* border-bottom: 2px solid #25244e; */
  /* background-color: #fafafa; */
}

table th {
  color: #d5dde5;
  background: #25244e;
  border-bottom: 4px solid #9ea7af;
  font-size: 14px;
  font-weight: 100;
  padding: 14px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

table tbody tr td {
  background: #ffffff;
  padding: 0.8rem;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 13px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
  border-right: none;
}

table tbody tr:nth-child(odd) td {
  background: #ebebeb;
}

.list-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.list-titles > p {
  width: 10%;
}

.list-titles .list-titles--description {
  width: 20%;
  text-align: left;
}
