.logger-transaction {
  width: 100%;
  min-height: 10%;
  padding: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

.logger-transaction-income {
  /* border: 1px solid green !important; */
}

/* .logger-transaction:nth-child(odd) {
  background-color: #d6d6d68e;
} */

.category-icon {
  text-align: center;
}

.logger-transaction i {
  font-size: 0.6rem;
  /* border: 1px solid black; */
  padding: 0.6rem;
  border-radius: 50%;
  background-color: #333;
  color: white;

  text-align: center;
}

.logger-transaction > p {
  width: 10%;
  /* text-align: left; */
  color: #333;
  text-align: center;
}

.logger-transaction .logger-transaction--description {
  width: 20%;
  text-align: left;
}

.logger-transaction > .fa-trash-alt {
  color: rgb(129, 58, 58);
  background-color: transparent;
  cursor: pointer;
}

.far.fa-trash-alt {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.delete-container:hover .far.fa-trash-alt {
  opacity: 1;
}

.logger-transaction > .fa-trash-alt:hover {
  color: red;
}

.text-align-center {
  text-align: center;
}

.income-color {
  color: rgb(71, 165, 79);
  border: 1px solid rgb(71, 165, 79);
}

.text-bold {
  font-weight: 900;
}
