.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logger-form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 10vh;
  /* margin-top: 2rem; */
  width: 80%;
}

/* .logger-form .logger-form--inputs {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .logger-form .logger-form--inputs > input {
  padding: 0.5rem 1rem;
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
} */

.select-container {
  margin-right: 1rem;
  /* align-self: center; */
}

.logger-form #accountId {
  /* display: block; */
  font-size: 1rem;
  font-weight: 300;
  padding: 0 0.5rem;
  border-radius: 2px !important;
  -webkit-appearance: none;
  background-color: #fff;
  min-width: 10rem;
  align-self: center;
  height: 30px;
  border: 1px solid #adb8db;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
}

.btn-select-income {
  padding: 0 2rem;
  background-color: #fff;
  color: #25244e;
  border: 1px solid #25244e;
  height: 2rem;
  font-size: 0.8rem;
  margin-right: 2rem;
}

.btn-select-income-active {
  background-color: #25244e;
  color: #fff;
}

.btn-add-transaction {
  background-color: #25244e;
  color: white;
  align-self: flex-end;
  padding: 0 2rem;
  /* margin-top: 2.5rem; */
  transform: scale(1);
  transition: all 0.1s ease-in;
  font-size: 0.8rem;
  margin: 0;
  border: none;
  height: 2rem;
}

.btn-add-transaction:hover {
  transform: scale(0.98);
}
