.total-summary {
  height: 20vh;
  display: flex;
  flex-direction: column;
  min-width: 15vw;
  align-items: space-between;
  justify-content: space-evenly;
}

.summary-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: #9797b3;
}

.summary-top > i {
  cursor: pointer;
}

.summary-top > i:hover {
  color: #333;
}

.total-summary--name {
  font-size: 1rem;
  color: #9797b3;
  font-weight: 300;
  letter-spacing: 1px;
}

.summary-middle {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
}

.total-summary--balance {
  font-size: 2rem;
  letter-spacing: 2px;
}

.total-summary--currency {
  color: #9797b3;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.summary-middle > p:last-child {
  color: #9797b3;
}

.summary-bottom {
  display: flex;
  /* margin-top: 2rem; */
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
}

.total-summary--percentage {
  color: rgb(13, 122, 9);
}

.summary-bottom > small {
  color: #9797b3;
}
