.account {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fas.fa-ellipsis-h {
  align-self: flex-end;
  opacity: 0;
  visibility: none;
  transition: all 0.3s ease-in-out;
}

.bank-icon {
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff;
}

.account-page-card:hover i {
  opacity: 1;
  visibility: visible;
}

.account-page-card > i:hover {
  color: #ccc;
}

.account-page-card > h3 {
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 2px;
  flex: 2;
}

.account-page-card > p {
  font-weight: 100;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.account-deletion__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
}

.btn-delete-account {
  border-radius: 2px;
  background-color: #162b82;
  border: 1px solid #162b82;
}

.btn-delete-account:hover {
  background-color: #162b82;
  border: 1px solid #162b82;
}

.btn-delete-account--close {
  border-radius: 2px;
  border: 1px solid #adb8dbb6;
}
