.accounts-page {
  width: 100%;
  background-color: #fafafb;
  /* height: 100vh; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: scroll;
  /* justify-content: space-evenly; */
}

.accounts-page h2 {
  margin-top: 2rem;
  color: #25244e;
}

.account-list > div {
  margin-right: 4rem;
  height: 10rem;
  width: 8rem;
}

.accounts__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.btn-add-account {
  /* border-radius: 20px; */
  height: 3rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  background-color: #162b82;
  border: 1px solid #162b82;
  color: white;
  transition: all 0.1s ease-in-out;
  border-radius: 4px;
}

.btn-reset-filter {
  transform: scale(1);
  transition: all 0.1s ease-in-out;
  border-radius: 2px;
  height: 3rem;
}

.btn-close-modal {
  height: 3rem;
  border-radius: 2px;
}
