.logger-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #1e1e1f; */
  background-color: #fff;
}

.logger-container h1 {
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 3rem;
  letter-spacing: 2px;
}

.logger-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
