.search-bar {
  width: 100%;
  height: 4rem;
  /* border-bottom: 1px solid red; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar > input {
  margin: 0 1rem;
  width: 80%;
  height: 100%;
  border: none;
  padding: 1rem;
  background-color: #fff;
  outline: none;
  font-size: 1.2rem;
}

.user-picture {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 1rem;
  cursor: pointer;
}

.user-picture:hover {
  filter: brightness(80%);
}

.user-img {
  max-height: 40px;
}
