.card {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 4px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-summary {
  grid-column: 2/3;
}

.card-accounts {
  grid-column: 4/7;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 2rem;
}

.account-card {
  height: 100%;
  min-width: 10rem;
  padding: 0;
  color: white;
  margin-right: 2rem;
  overflow-x: scroll;
  border-radius: 10px;
}

.card-account-summary {
  padding: 0;
  margin-right: 1rem;
}

.card-graph {
  height: 100%;
  max-height: 50vh;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-graph > * {
  font-size: 0.6rem;
}

.card-recent {
  height: 100%;
  max-height: 50vh;
  /* overflow: scroll; */
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  position: relative;
  padding-top: 0;
}

.card-logger-list {
  height: 90%;
  padding: 0rem 0.5rem;
  border-radius: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: none;
  border-top: 2px solid #25244e;
  border-bottom: 2px solid #25244e;
  /* background-color: #fafafa; */
}

.categories-container-card {
  height: 90%;
  box-shadow: none;
  background-color: #fafafa;
  margin-top: 1.5rem;
}

.card-authentication,
.card-describe {
  /* margin-top: 5rem;
  margin-left: 5rem; */

  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card-authentication {
  min-width: 25%;
  /* padding: 2rem; */
  position: relative;
  height: 100%;
  border-radius: 0;
  padding: 2rem;
}

.card-describe {
  width: 35%;
  padding: 2rem;
}

.account-page-card {
  min-width: 10rem;
  max-width: 10rem;
  padding: 1rem;
  cursor: pointer;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s ease-in-out;
  color: #fff;
  border-radius: 10px;
  margin-right: 1rem;
}

.account-page-card-active {
  background-color: var(--primary-color-1);
  transform: scale(1.1);
  color: white;
}

.account-page-card-modal {
  opacity: 0.5;
  transition: all 0.7ts ease-in-out;
}
