.nav-links {
  /* margin-top: 2rem; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;

  width: 75%;
}

.nav-links ul a {
  text-decoration: none;
  color: #333;
  margin-top: 3rem;
}

.page-selected {
  border-right: 3px solid #333;
}

.logout-li {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-logout {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #333;
  font-size: 1rem;
  border: 2px solid #333;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #d6d6d6;
}
